* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("wall.jpg");
    display: grid;
    place-items: center;
}
h1{
    font-size: 90px;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 100%;
    background-image: url(Encanto_Doors_1s_Mirabel_v3.1_mech4_FS-1200x675.jpg);
    color: transparent;
    font-style: italic;
}

img{
    display: block;
    object-fit: cover;
    border-radius: 1.5rem;
    border: 5px snow;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    height: 450px;   
}

img:hover{
    box-shadow: 0 0 2px 1px rgba(red, green, blue, alpha);

}




